<h1>Lending Club Loan Prediction</h1>

## Introduction

- LendingClub is a US peer-to-peer lending company, headquartered in San Francisco, California. It was the first peer-to-peer lender to register its offerings as securities with the Securities and Exchange Commission (SEC), and to offer loan trading on a secondary market. LendingClub is the world's largest peer-to-peer lending platform.
- [Company link](https://www.lendingclub.com/personal-deposits)
-  In this case study, we will also develop a basic understanding of risk analytics in banking and financial services and understand how data is used to <b>minimise the risk of losing money</b> while lending to customers.

## Business Understanding
- **Objective:** Trying to reduce the number of defaulters!
- You work for the LendingClub company which specialises in lending various types of loans to urban customers. When the company receives a loan application, the company has to make a decision for loan approval based on the applicant’s profile. 
- For this usecase we are only going to access the dataset which were accepted by the company and try to detect the defaulters
- Based on our usecase, `loan_status` is crucial with the following values:
- - **Payers** Fully Paid, Current
- - **Defaulters** Charged Off, Late (31-120 days), In Grace Period, Late (16-30 days), Does not meet the credit policy. Status:Fully Paid, Does not meet the credit policy. Status:Charged Off, Default

- Based on the values available, we will categorize these into two: Payers, Defaulters. **Fully Paid, Current** are Payers and others are Defaulters.
- This is a binary classification model.

### Evaluation Metric
- **Recall:** The percentage of defaulters our model/tool was able to detect
- **Precision:** The prcentage of defaulters our model/tool predicted, how accurate are they
<br>
<br>
<i>**Based on the objective, recall is going to be the most crucial evaluation metric for my model since we are trying to detect as many defaulters as possible**</i>

In [2]:
#  Import Libraries
import pandas as pd

In [4]:
df = pd.read_csv("../data/accepted_2007_to_2018Q4.csv")
df.head()

/var/folders/3z/1gg3czrd2ps4jtgnrk_j_nqmgw5xwd/T/ipykernel_75491/3946829282.py:1: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/accepted_2007_to_2018Q4.csv")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df['loan_status'].value_counts()

loan_status
Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: count, dtype: int64

## Data Ingestion

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("wordsforthewise/lending-club")

print("Path to dataset files:", path)